.godot/
.import/
*.import
*.user

.mono/
*.mono_debug/
*.csproj
*.sln
*.userprefs

*.tmp
*.log
*.lock
*.obj/
*.bin/
*.pdb

.idea/
.idea/workspace.xml
.idea/tasks.xml
.idea/dictionaries/
.idea/vcs.xml
.idea/libraries/
.idea/modules.xml
Folder.DotSettings.user

*.bak
*.orig

/bin/
/obj/

.DS_Store
Thumbs.db

steam_api.dll
steam_api64.dll
DDL/Facepunch.Steamworks.Win64.dll