.godot/

.import/

*.translation

Logs/
.mono/
data_*/
mono_crash.*.json
Folder.DotSettings.user

Tests/obj/
Tests/bin/

*.import
.idea/

*.bak
*.orig
*.old

*.DotSettings.user

/bin/
/obj/

.DS_Store
Thumbs.db

config/
.config/

VERSION
